@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-shape-after{
  content: '';
  position: absolute;
  background-image: url('../public/assets/images/shape_1_red.svg');
  background-repeat: no-repeat;
  width: 279px;
  height: 279px;
  top: -50px;
  left: -50px;
}
.logo-cloud-bg{
  background-image: url('../public/assets/images/line.svg') ;
  width: 1440px;
  height: 280px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}