@tailwind base;
@tailwind components;
@tailwind utilities;


.width-height{
    width: 100%;
  max-width: 944px;
  height: 531px;
}
.hero-bg-image {
  background-image: url("../public/assets/images/hero_bg.png");
  width: 100%;
  /* max-width: 944px; */
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.hero-after::after {
  content: "";
  position: absolute;
  background-image: url("../public/assets/images/shape_1_red.svg");
  width: 179px;
  height: 179px;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/* @media (max-width: 768px) {
  .hero-after::before {
    content: "";
    position: absolute;
    background-image: url("../public/assets/images/shape_1_red.svg");
    width: 112px;
    height: 64px;
    z-index: -1;
    right: -30px;
    bottom: -20px;
  }
} */
